{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/msg.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js-on-document-load %}
$("input#id_email").focus();
{% endblock %}

{% block contents %}

  <h1>Reset password</h1>

  <p>Please provide your the email address associated with your account.</p>
  
  <p>A new password will be sent to your email address.</p>

  <div id="login" class="formbox-outer">

    <div class="formbox" style="width: 500px;">
      <form action="" method="post">{% csrf_token %}
        <table class="form_table">
          {% for field in form %}
            <tr>
              <td>
                <div class="fieldWrapper">
                {{ field.label_tag }}:
                </div>
              </td>
              <td>
              {{ field }} 

              {% if field.errors %}
                  {% for error in field.errors %}
                  {# <br /> #}
                  <span class="error">{{ error }}</span>
                  {% endfor %}
              {% endif %}

              </td>
              <td class="help_text">
                {{ field.help_text }}
              </td>
            </tr>
            {% endfor %}
	</table>

        <p><input type="submit" value="Reset password" /></p>

      </form>
    </div>
  </div>

{% endblock %}
