{% extends "base.html" %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/orgmode.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contents %}
<h1>Export tasks</h1>

{% if tasks %}

<p>
  Below is a <strong>preview of at most 10 tasks</strong> 
  {% if label %}
  labeled with <a href="{% url 'url_tasks_label' label.id %}">{{ label.name }}</a>
  {% endif %}
  in the provided export <a href="http://orgmode.org/">Org-Mode</a> 
  format. 
</p>

<form action="{% url 'url_export' %}" method="POST">{% csrf_token %}
  {% if label %}
  <input type="hidden" name="label" value="{{ label.id }}" />
  {% endif %}
  <input type="submit" value="Export tasks" class="btn btn-default" />
</form>

<p>&nbsp;</p>

<div class="task-list-orgmode">

  <p class="header">
    #+PRIORITIES: A B B
  </p>
  <p>&nbsp;</p>

  {% for task in tasks %}
  <p id="task{{ task.id }}">
    
    <span>&#42;</span>

    {% if task.is_completed %}
    <span class="status completed">DONE</span>
    {% else %}
    <span class="status todo">TODO</span>
    {% endif %}

    <span class="priority">
      {% ifequal task.priority 'HIG' %}
      [#A]
      {% else %}
      [#B]
      {% endifequal %}
    </span>
    
    <span class="task">
      {{ task.task }}
    </span>
  </p>
  {% if task.is_completed %}
  <p>
    <span class="closed">
      &nbsp;&nbsp;&nbsp;CLOSED: 
    </span>
    <span class="date">
      [{{ task.date_completed|date:"Y-m-d D G:i" }}]
    </span>
  </p>
  {% endif %}
  {% endfor %}
  
  <p style="font-weight: bold;">. . .</p>
</div>

{% else %}
  <p><em>There are currently no tasks to export.</em></p>
{% endif %}

{% endblock %}
