{% extends "base.html" %}

{% block contents %}
<h1>Tools</h1>

<p>The following tools are available:</p>

<h3>Export data</h3>

<p>
  <a href="{% url 'url_export_preview_all' %}">Export all your tasks</a>
</p>


<h3>Activity Log</h3>

<p>
  View your <a href="{% url 'url_log' %}">completed tasks week by week</a> </p>

<h3>Bookmarklet</h3>

<p>
  Drag the following link to your toolbar:
  <a href="javascript:function jta(){var t=open('http://jungletasks.com/b/task/add/','Jungle Tasks','toolbar=no,location=no,width=420,height=400');}jta();void(0);"
     onclick="alert('Drag the link to your toolbar'); return false;">Add Task</a>
</p>

<h3>Change password</h3>

<p>
  You can <a href="{% url 'url_password_change' %}">change your password here</a>
</p>

{% endblock %}
