{% extends "base.html" %}

{% block stylesheet %}
    {# <link href="/static/css/labels.css" rel="stylesheet" type="text/css" /> #}
    {# <link href="/static/css/forms.css" rel="stylesheet" type="text/css" /> #}
{% endblock %}

{% block script %}
{# <script type="text/javascript" src="/static/js/tasks.js"></script> #}
{% endblock %}

{% block js-on-document-load %}

/* focus on task text */
$("#label").focus();

{% endblock %}

{% block contents %}

{% block page_header %}
<h1>Add Label</h1>
{% endblock %}

<form action="" method="post" role="form">{% csrf_token %}

    <fieldset>
      <div class="form-group">
        <label for="label">Label</label>
        <input id="label" name="label" type="text" placeholder="Label">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </fieldset>

</form>

{% endblock %}
