{% extends "base.html" %}

{% block stylesheet %}
    {# <link href="/static/css/labels.css" rel="stylesheet" type="text/css" /> #}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/labels.js"></script>
<script type="text/javascript" src="/static/js/jquery.colorPicker.js"/></script>

<script id="label-delete-confirm-template" type="text/x-handlebars-template">
{% verbatim %}
<form action="/label/delete/{{id}}/" method="POST">
{% endverbatim %}
{% csrf_token %}
{% verbatim %}
<input type="submit" class="btn btn-danger btn-sm btn-delete-confirm" value="Confirm..." />
</form>
{% endverbatim %}
</script>

{% endblock %}

{% block js-on-document-load %}

$("#inputLabel").focus();
// reset focus every second
setInterval(function() {
    $("#inputLabel").focus();
}, 1000);

$(".btn-delete").click(function() {
    // register events to handle clicking outside of the confirm area 
    $('html').unbind('click');
    $('html').click(function(e) {
        // check if we click not on a delete button or a confirm button
        if (!($(e.target).hasClass('btn-delete-confirm') || 
              $(e.target).hasClass('btn-delete'))) {
            $(".btn-delete-confirm").remove();
            $(".btn-delete").removeClass('btn-default').addClass('btn-danger')
                .show();
        }
    });
    // update the status of other 'delete' buttons 
    $(".btn-delete").removeClass('btn-danger').addClass('btn-default').show();
    // remove all old 'confirm' buttons, if they exist 
    $(".btn-delete-confirm").remove();
    // hide the button just clicked 
    $(this).hide();
    // create the form to delete the label 
    var id = $(this).data('id');
    var source = $("#label-delete-confirm-template").html();
    var template = Handlebars.compile(source);
    var html = template({id: id});
    $(this).after(html);
});

$("table#label_list td.label_color input").each(function() {
    $(this).colorPicker();
});

/* register action for checking and unchecking the hidden property */
$("td.status_hidden").each(function() {
    var data = $(this).parent().metadata();
    if (data.label_id) {
        $(this).find("input").button().click(function() {
            dom_label_save(data.label_id);
        }); 
    }
});

{% endblock %}

{% block contents %}
<h1>Your labels</h1>

<form role="form" action="{% url 'url_label_add' %}" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-9">
            <label class="sr-only" for="inputLabel">Label</label>
            <input type="text" class="form-control" id="inputLabel" name="label" placeholder="Label">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary form-control">&plus; add label</button>
        </div>
    </div>
</form>

<p></p>
    
{% if labels %}
<table class="table">
    <thead>
        <tr>
            <td>Label</td>
            <td>Tasks</td>
            <td>Visibility</td>
            <td>Remove</td>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr style="background-color: #{{ label.color }}">
            <td>{{ label.name }}</td>
            <td><strong>{{ label.num_not_done_tasks}}</strong> ({{ label.num_tasks }} total)
            </td>
            <td>
                <button class="btn btn-sm button-default">Hidden</button>
            </td>
            <td>
                <button class="btn btn-sm btn-danger btn-delete" data-id="{{ label.id }}">Delete label</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p><strong>There are no labels here.</strong></p>
    <p><em>Add a label by clicking 'add' in the top-right corner.</em></p>
{% endif %}

{# {% if system_labels %} #}
{# <h1>System labels</h1> #}
{# {% for label in system_labels %} #}
{# {{ label.get_label_display }}  #}
{# {% endfor %} #}
{# {% endif %} #}

{% endblock %}

