{% extends "base.html" %}

{% block js-on-document-load %}

/* focus on creating label input */ 
setInterval(function() {
    $("#inputLabel").focus();
}, 200);

$("table#label_list td.label_color input").each(function() {
    $(this).colorPicker();
});

/* register action for checking and unchecking the hidden property */
$("td.status_hidden").each(function() {
    var data = $(this).parent().metadata();
    if (data.label_id) {
        $(this).find("input").button().click(function() {
            dom_label_save(data.label_id);
        }); 
    }
});

{% endblock %}

{% block contents %}
<h1>Your labels</h1>

<form role="form" action="{% url 'url_label_add' %}" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-9">
            <label class="sr-only" for="inputLabel">Label</label>
            <input type="text" class="form-control" id="inputLabel" name="label" placeholder="Label">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary form-control">&plus; add label</button>
        </div>
    </div>
</form>

<p></p>
    
{% if labels %}
<table class="table table-labels">
    <thead>
        <tr class="">
            <td>Label</td>
            <td class="hidden-xs">Tasks</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr style="background-color: #{{ label.color }}">
            <td>{{ label.name }}</td>
            <td class="hidden-xs"><strong>{{ label.num_not_done_tasks}}</strong> ({{ label.num_tasks }} total)
            </td>
            <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-{% if label.hidden %}default{% else %}success{% endif %}">Show</button>
                  <button type="button" class="btn btn-sm btn-{% if label.hidden %}danger{% else %}default{% endif %}">Hide</button>
                </div>
                <a href="{% url 'url_label_edit' label.id %}" class="btn btn-sm btn-default">Edit...</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p><strong>There are no labels here.</strong></p>
    <p><em>Try adding a label first.</em></p>
{% endif %}

{# {% if system_labels %} #}
{# <h1>System labels</h1> #}
{# {% for label in system_labels %} #}
{# {{ label.get_label_display }}  #}
{# {% endfor %} #}
{# {% endif %} #}

{% endblock %}

