{% extends "base.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
<!--
$(function() {
    setInterval(function() {
        $("#inputLabel").focus();
    }, 200);
});

function Label() {
    
    if (!(this instanceof Label)) {
        return new Label();
    }
    
    this.setLabelHiddenStatus = function(id, hidden, callback) {
        $.post("{% url 'url_label_set_hidden_json' %}", {
                'id': id,
                'hidden': hidden ? 'true' : 'false'
            },
            function(data, status) {
                if (status == 'success' && data.status == 'OK') {
                    callback();
                }
            }
        );
    };
}

var label = new Label();

// listening to changing the 'hidden' status of a label 
$(".btn-hidden-toggle").click(function() {
    var id = $(this).data('id'), 
        hidden = $(this).data('hidden') == 'True', 
        btn = $(this);
    label.setLabelHiddenStatus(id, !hidden, function() {
        // updates the DOM if the change was successful 
        var icon = btn.find('span.glyphicon'), 
            gopen = 'glyphicon-eye-open', 
            gclose = 'glyphicon-eye-close';
        if (hidden) {
          btn.addClass('btn-success').removeClass('btn-danger');
          btn.data('hidden', 'False');
          icon.addClass(gopen).removeClass(gclose); 
        } else {
          btn.addClass('btn-danger').removeClass('btn-success');
          btn.data('hidden', 'True');
          icon.addClass(gclose).removeClass(gopen);
        }
    });
});

-->
</script>
{% endblock script %}

{% block contents %}
<h1>Your labels</h1>

<form role="form" action="{% url 'url_label_add' %}" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-sm-9">
            <label class="sr-only" for="inputLabel">Label</label>
            <input type="text" class="form-control" id="inputLabel" name="label" placeholder="Label">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary form-control">&plus; add label</button>
        </div>
    </div>
</form>

<p></p>
    
{% if labels %}
<table class="table table-labels">
    <thead>
        <tr class="">
            <th>Label</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr style="background-color: #{{ label.color }}">
            <td>
              {{ label.name }}
              (<strong>{{ label.num_not_done_tasks}}</strong>)
            </td>
            <td>
                <button type="button" data-id="{{ label.id }}" data-hidden="{{ label.hidden }}" class="btn btn-sm btn-{% if label.hidden %}danger{% else %}success{% endif %} btn-hidden-toggle" title="Toggle visibility">
                  {% if label.hidden %}
                  <span class="glyphicon glyphicon-eye-close"></span></button>
                  {% else %}
                  <span class="glyphicon glyphicon-eye-open"></span></button>
                  {% endif %}
                  
                <a href="{% url 'url_label_edit' label.id %}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p><strong>There are no labels here.</strong></p>
    <p><em>Try adding a label first.</em></p>
{% endif %}

{# {% if system_labels %} #}
{# <h1>System labels</h1> #}
{# {% for label in system_labels %} #}
{# {{ label.get_label_display }}  #}
{# {% endfor %} #}
{# {% endif %} #}

{% endblock %}

