{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js-on-document-load %}
$("input#id_email").focus();
{% endblock %}

{% block contents %}

  <h1>Login</h1>

  <p>Please provide the email you signed up with and your password.</p>

  <form action="" method="post" class="form" role="form">{% csrf_token %}
    <fieldset>
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.errors %}
        <ul>
          {% for error in field.errors %}
            <li>
            {{ error }}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </fieldset>
    
    {% if invalid %}
    <span class="error">
      The email and password did not match
    </span>
    {% endif %}

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}

    <button type="submit" class="btn btn-primary">Login</button>

    <p style="text-align: right; margin-right: 20px;">
      Forgot your password? <a href="{% url 'url_password_reset' %}">Reset  your password</a>.
    </p>

  </form>

{% endblock %}


