{% extends "base.html" %}

{% block js-on-document-load %}
$("input#id_email").focus();
{% endblock %}

{% block contents %}

  <h1>Signup</h1>

  <p>Complete the following form to create an account.</p>

  <form action="" method="post" role="form">{% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
        <p class="help-block"><em>{{ field.help_text }}</em></p>
        {% endif %}
        {% if field.errors %}
        <ul>
          {% for error in field.errors %}
            <li>
            {{ error }}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary">Signup</button>

  </form>

  <!--
  <div class="process">
    <p>Process overview:</p>
    <div class="step">
      1. You provide email and password
    </div>
    <div class="step">
      2. We send email with confirmation code
    </div>
    <div class="step">
      3. You activate account
    </div>
    <div class="step">
      4. Done
    </div>
    <div style="clear: both;" />
  </div>
  -->

{% endblock %}
