{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/labels.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/tasks.js"></script>
{% endblock %}

{% block js-on-document-load %}

/* pre-select labels */
{% if get and get.orig_l_id %}
dom_label_new_task_toggle({{ get.orig_l_id }});
{% endif %}

/* for date picker */
/* $("input#id_due").datepicker({ autoSize: true }); */

/* focus on task text */
$("#id_task").focus();

{% endblock %}

{% block contents %}
{% block page_header %}
<h1>Add Task</h1>
{% endblock %}

<form action="" method="post" role="form">{% csrf_token %}

    <fieldset>
    {% for field in form %}
    
        <div class="form-group">
        {% if field.label != 'Task' %}
        {{ field.label_tag }}: 
        {% endif %}
        {{ field }}
        </div>

        {% for error in field.errors %}
        <p>
        <span class="error">{{ error }}</span>
        </p>
        {% endfor %}

    {% endfor %}
    </fieldset>

    <span class="form-wrapper form-label-wrapper">
    {% for label in labels %}
    <span class="form-label hand" 
	  onClick="return dom_label_new_task_toggle('{{ label.id }}');" 
	  data-label_id="'{{ label.id }}'">
      {{ label.name }}
    </span>
    {% empty %}
    <p><em>You have not created any labels yet.</em></p>
    {% endfor %}
    </span>

    <span id="form-hidden-holder">
      {# default for labels #}
      <input type="hidden" name="labels" value="" />
      {# task id: for when a task is being edited #}
      {% if t_id %}
      <input type="hidden" name="t_id" value="{{ t_id }}" />
      {% endif %}
    </span>

    {% block button %}
    <button type="submit" class="btn btn-primary">Add task</button>
    {% endblock %}

    {# pass on the label ID of the active label before adding a task #}
    {% if get and get.orig_l_id %}
    <input type="hidden" name="orig_l_id" value="{{ get.orig_l_id }}" />
    {% else %}
    {% if orig_l_id %}
    <input type="hidden" name="orig_l_id" value="{{ orig_l_id }}" />
    {% endif %}
    {% endif %}

</form>

{% endblock %}
