<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/icons/favicon.ico" />
    <title>{% block title %}Jungle Tasks - Home{% endblock %}</title>
        
    {# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" /> #}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    
    <link href="{{ STATIC_URL }}css/labels.css" rel="stylesheet" type="text/css" />
    
    {% block stylesheet %}{% endblock %}
    
    {% block style %}{% endblock %}
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    
    
    <script type="text/javascript" charset="utf-8">
    <!--
    
    $(function() {
        
        /* for metadata plugin */
        $.metadata.setType("html5");
        
        /* remove messages */
        var offset = 0;
        $("div.message-area").each(function() {
            var wait = 4000 + (2000 * offset);
            $(this).delay(wait).fadeOut(1000);
            offset++;
        });
        
        {% block js-on-document-load %}
        {% endblock %}
        
        {% block keyboard-shortcuts %}
        {% endblock %} {# 'keyboard-shortcuts' #}
    
    });
    -->
    </script>
</head>

<body>
  
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="{% url 'url_index' %}">Jungletasks</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      {% load tasks_tags %}
      {% url 'url_index' as url_index %}
      {% url 'url_tasks' as url_tasks %}
      {% url 'url_label' as url_label %}
      {% url 'url_tools' as url_tools %}
      {% url 'url_faq' as url_faq %}
      {% url 'url_login' as url_login %}
      {% url 'url_signup' as url_signup %}

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li class="{% active request url_tasks %}"><a href="{{ url_tasks }}">Hello, {{ user.email }}</a></li>
        {% else %}
          <li class="{% active_exact request url_index %}"><a href="{{ url_index }}">Jungletasks</a></li>
        
        {% endif %}
          {% if user.is_authenticated %}
          <li class="{% active request url_label %}"><a href="{{ url_label }}">labels</a></li>
          {# <li><a href="{% url 'url_tools' %}">tools</a></li> #}
          {% endif %}
          {% block action-controls %}
          {% endblock action-controls %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'url_logout' %}">logout</a></li>
            {% else %}
                <li class="{% active_exact request url_login %}"><a href="{{ url_login }}">login</a></li>
                <li class="{% active_exact request url_signup %}"><a href="{{ url_signup }}">signup</a></li>
            {% endif %}
          <li class="{% active request url_tools %}"><a href="{{ url_tools }}">tools</a></li>
          <li class="{% active request url_faq %}"><a href="{{ url_faq }}">faq</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
      
    {% block header %}

        {% for message in messages %}
        <div class="message-area
          {% if message.tags %}message-{{ message.tags }}{% endif %}">
            {% autoescape off %}
            {{ message }}
            {% endautoescape %}
        </div>
        {% endfor %}
      
        {% block input-field %}
        {% endblock %}

    {% endblock %}
    
    {% block contents-outer %}
    <div id="contents">
      {% block contents %}
        This should always be overridden.
      {% endblock contents %}
    </div> {# end 'contents' #}
    {% endblock %}
    
    <div id="footer">
      <p>Metajungle &copy; 2011-2014</p>
    </div>
  
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tasks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.metadata.js">
    </script>
    {# <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> #}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/handlebars-1.0.0.js"></script>
    
    {% block script %}{% endblock script %}

</body>
</html>
