{% extends "base.html" %}

{% block title %}
Jungle Tasks - Simple Task Management 
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
{% endblock style %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript">
    <!--
    $(function() {
      $("a.screenshot").fancybox({
        'hideOnContentClick': true
      });
    });
    -->
    </script>
{% endblock script %}

{% block contents %}

<div class="jumbotron text-center">
    <h1>   
      <img style="width: 128px; "
           src="{{ STATIC_URL }}images/checkmark.png" alt="Jungle Tasks" /> 
Idea. Track. Go.</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      <strong>Jungle Tasks</strong> is a simple but useful online task
      management system that helps you <i>get things done</i>. It's
      easy to add new tasks or ideas as you think of them. It's
      simplicity makes it ideal for smaller projects where you just
      need to remember what needs to get done.
    </p>
    <p>
      <form action="{% url 'url_login' %}" method="POST" role="form">{% csrf_token %}
        <input type="hidden" name="email" value="demo@jungletasks.com" />
        <input type="hidden" name="password" value="demo" />
        <button type="submit" class="btn btn-primary">Try it out</button>
      </form>
    </p>
  </div>
  {# <div class="col-sm-4"> #}
  {#   <a class="screenshot" href="{{ STATIC_URL }}images/screenshot.png"><img src="{{ STATIC_URL }}images/screenshot-small.png" alt="Screenshot"  #}
  {#    style="width: 240px;"/></a> #}
  {#   <br /> #}
  {#   <p class="text-center">Screenshot (click to enlarge)</p> #}
  {# </div> #}
  {# <div class="col-sm-6"> #}
  {#   <p class="infobox"> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Track tasks #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Organize with labels #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Export tasks (no data lock-in) #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Accessible everywhere #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Simple #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Get things done #}
  {#     <br /> #}
  {#     <img src="{{ STATIC_URL }}icons/yes_small.png" alt="Yes" /> #}
  {#     Move forward #}
  {#   </p> #}
  {# </div> #}
</div>

{% endblock %}
