{% extends "base.html" %}

{% block title %}
Jungle Tasks - Simple Task Management 
{% endblock %}

{% block contents %}

<div class="jumbotron text-center">
    <h1>   
      <img style="width: 128px; "
           src="{{ STATIC_URL }}images/checkmark.png" alt="Jungle Tasks" /> 
Idea. Track. Go.</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      <strong>Jungle Tasks</strong> is a simple but useful online task
      management system that helps you <i>get things done</i>. It's
      easy to add new tasks or ideas as you think of them. It's
      simplicity makes it ideal for smaller projects where you just
      need to remember what needs to get done.
    </p>
  </div>
</div>

{% endblock %}
