{% extends "base.html" %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/labels.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/labels.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorPicker.js"/></script>
{% endblock %}

{% block js-on-document-load %}

/* register action for clicking on 'save' button */
/* $("button#btn_labels_save").click(api_labels_save); */

/* register action for clicking on 'add' */
$("a#btn_add_label").click(add_label);

$("table#label_list td.label_color input").each(function() {
    $(this).colorPicker();
});

/* register action for checking and unchecking the hidden property */
$("td.status_hidden").each(function() {
    var data = $(this).parent().metadata();
    if (data.label_id) {
        $(this).find("input").button().click(function() {
            dom_label_save(data.label_id);
        }); 
    }
});


{% endblock %}


{% block action-controls %}
<li><a id="btn_add_label" href="#">add</a></li>
{% endblock %}


{% block contents %}
<h1>Your labels</h1>

<span class="labels_empty_holder">
{% if not labels %}
  <p><strong>There are no labels here.</strong></p>
  <p><em>Add a label by clicking 'add' in the top-right corner.</em></p>
{% endif %}
</span>

<table id="label_list" class="label_table">
{% for label in labels %}
<tr id="label{{ label.id }}" data-label_id="'{{ label.id }}'">
  <td class="label_name">{{ label.name }}</td>
  <td class="label_color">
    <input id="labelcolor{{ label.id }}" 
	   type="text" 
	   name="labelcolor{{ label.id }}" 
	   value="#{{ label.color }}" />
  </td>
  <td>
    <a href="#" onclick="return dom_label_rename('{{ label.id }}');"><img class="task_icon" src="/static/icons/pencil.png" alt="Rename" /></a>
  </td>
  <td class="label_trash">
  <a href="#" onClick="return dom_label_delete('{{ label.id }}');"><img src="/static/icons/trash.png" alt="Delete" /></a>
  </td>
  <td><span style="font-weight: bold;">{{ label.num_not_done_tasks}}</span>  ({{ label.num_tasks }} total)</td>
  <td class="status_hidden">
    <input  type="checkbox" name="label{{ label.id }}_hidden" 
	    id="label{{ label.id }}_hidden" 
	    {% if label.hidden %}checked="checked"{% endif %}></input>
    <label for="label{{ label.id }}_hidden">Hidden</label>
  </td>
</tr>
{% endfor %}
</table>

{# {% if labels %} #} 
{# <p> #} 
{#   <button id="btn_labels_save">Save labels</button> #} 
{# </p> #} 
{# {% endif %} #} 

{% if system_labels %}
<h1>System labels</h1>
{% for label in system_labels %}
{{ label.get_label_display }} 
{% endfor %}
{% endif %}

{% endblock %}

