/*
 * Mixins
 */
/*
 * General
 */
body {
  margin: 0px;
  padding: 0px;
  background-color: #FBFBFB; }
  body img {
    border: 0px; }
  body #contents {
    margin: 20px; }
  body input[type="text"]:not(.form-control),
  body input[type="password"]:not(.form-control) {
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #a0a0a0;
    width: 300px; }
  body #footer {
    margin: 0px;
    padding: 20px 0px;
    clear: both; }
    body #footer p {
      text-align: center; }

/*
 * Labels
 */
ul.labels {
  list-style: none;
  padding: 0px; }
  ul.labels li {
    display: block;
    margin: 4px 0px 2px 0px;
    padding: 2px 26px 2px 4px;
    border: 1px solid #808080;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    ul.labels li a,
    ul.labels li a:link,
    ul.labels li a:visited {
      color: #000;
      padding: 4px;
      margin: 4px;
      display: block;
      line-height: 100%;
      text-decoration: none; }
    ul.labels li.label-standard {
      color: #000;
      background-color: #99cc00; }
    ul.labels li.title {
      border: 0px;
      font-weight: bold;
      padding: inherit;
      padding-left: 2px;
      padding-bottom: 8px;
      font-style: italic; }
    ul.labels li.separator {
      border: 0px;
      border-top: 1px solid #000;
      margin-top: 10px;
      margin-bottom: -20px;
      border-radius: 0px; }
    ul.labels li.hidden {
      display: none; }
    ul.labels li.controls {
      border: 0px;
      padding: 5px 0px 0px 0px; }
    ul.labels li.label-selected {
      background-color: #000; }
      ul.labels li.label-selected a {
        color: #fff; }

/* 
 * Tasks
 */
tr.task-row.task-selected {
  background-color: #f0f0f0; }
tr.task-row.priority-high td.status {
  background-image: url("/static/icons/priority.png");
  background-repeat: no-repeat;
  background-position: left center; }
tr.task-row ul.label-crumbs {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.7em;
  padding: 1px 2px 1px 2px;
  /* height: 2.3em; */
  float: right; }
tr.task-row ul.label-crumbs li {
  float: left;
  /* line-height: 2.3em; */
  /* padding-left: .75em; */
  color: #777;
  padding: 0px 5px 0px 2px;
  margin: 0px 2px 0px 2px;
  border-top: 0px solid #dedede;
  background-color: #f0f0f0;
   /*
   border-left: 1px solid #f0f0f0;
   border-bottom: 1px solid #f0f0f0;
*/ }
