/*
 * Variables
 */
/*
 * Mixins
 */
/*
 * General
 */
body {
  margin: 0px;
  padding: 0px;
  background-color: white; }
  body img {
    border: 0px; }
  body .navbar {
    border: 0px; }
  body .navbar-default {
    border-color: #1b8000;
    background-color: #1b8000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
    body .navbar-default.navbar-default li a {
      color: #fff; }
      body .navbar-default.navbar-default li a:hover {
        color: #CCCBCB; }
    body .navbar-default.navbar-default li.active a {
      color: #fff;
      background-color: #23a700; }
      body .navbar-default.navbar-default li.active a:hover {
        color: #fff;
        background-color: #23a700; }
    body .navbar-default.navbar-default .navbar-toggle {
      border: 0px; }
      body .navbar-default.navbar-default .navbar-toggle .icon-bar {
        background-color: #fff; }
      body .navbar-default.navbar-default .navbar-toggle:hover {
        background-color: #000; }
    body .navbar-default.navbar-default .navbar-collapse {
      border-color: inherit; }
    body .navbar-default .navbar-brand {
      color: #fff; }
  body #contents {
    margin: 20px; }
  body .jumbotron {
    padding: 0px;
    color: #000;
    background-color: inherit;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  @media screen and (min-width: 768px) {
    body .special-form-control.form-control {
      width: 728px; } }
  body #footer {
    margin: 0px auto;
    padding: 20px 0px;
    clear: both; }
    body #footer p {
      text-align: center; }

.alert {
  padding: 5px;
  border: 2px solid transparent; }

.alert-dismissable {
  padding-right: 35px; }

/*
 * Labels
 */
table.table-labels a.label-link,
table.table-labels a:link.label-link,
table.table-labels a:visited.label-link {
  color: #000; }

ul.labels {
  list-style: none;
  padding: 0px; }
  ul.labels li.link a {
    padding-left: 20px; }
  ul.labels li:not(.link) {
    display: block;
    margin: 4px 0px 2px 0px;
    padding: 2px 26px 2px 4px;
    border: 0px solid #f0f0f0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    ul.labels li:not(.link) a,
    ul.labels li:not(.link) a:link,
    ul.labels li:not(.link) a:visited {
      color: #000;
      padding: 4px;
      margin: 4px;
      display: block;
      line-height: 100%;
      text-decoration: none; }
      ul.labels li:not(.link) a.active,
      ul.labels li:not(.link) a:link.active,
      ul.labels li:not(.link) a:visited.active {
        font-weight: bold; }
    ul.labels li:not(.link).label-standard {
      color: #000;
      background-color: #99cc00; }
    ul.labels li:not(.link).title {
      border: 0px;
      font-weight: bold;
      padding: inherit;
      padding-left: 2px;
      padding-bottom: 8px;
      margin-top: 10px;
      font-style: italic; }
    ul.labels li:not(.link).separator {
      border: 0px;
      border-top: 1px solid #000;
      margin-top: 10px;
      margin-bottom: -20px;
      border-radius: 0px; }
    ul.labels li:not(.link).hidden {
      display: none; }
    ul.labels li:not(.link).controls {
      border: 0px;
      padding: 5px 0px 0px 0px; }
    ul.labels li:not(.link).label-selected {
      background-color: #000; }
      ul.labels li:not(.link).label-selected a {
        color: #fff; }
    ul.labels li:not(.link).label-task-assignment {
      border: 1px dotted #808080; }

#colorpicker {
  display: inline;
  clear: both; }

.label-colorpicker {
  background-color: transparent;
  border: 1px solid #f0f0f0; }

/* 
 * Tasks
 */
table.table-tasks tbody td.narrow {
  width: 32px; }
table.table-tasks tbody td:not(.narrow) {
  width: 100%; }
table.table-tasks tr.task-row td {
  vertical-align: middle; }
table.table-tasks tr.task-row.task-completed {
  text-decoration: line-through;
  font-style: italic;
  background-color: #F7E7E9; }
table.table-tasks tr.task-row a,
table.table-tasks tr.task-row a:link,
table.table-tasks tr.task-row a:visited {
  color: #000;
  text-decoration: none; }
table.table-tasks tr.task-row.task-selected {
  background-color: #f0f0f0; }
  table.table-tasks tr.task-row.task-selected a {
    color: #000; }
table.table-tasks tr.task-row ul.label-crumbs {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.7em;
  padding: 1px 2px 1px 0px;
  /* height: 2.3em; */ }
table.table-tasks tr.task-row ul.label-crumbs li {
  float: left;
  color: #777;
  padding: 2px 5px;
  margin: 0px 4px 0px 0px;
  border-top: 0px solid #dedede;
  background-color: #f0f0f0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

/*
 * Activity log
 */
h3.date {
  text-decoration: underline; }
h3.today {
  font-style: italic; }

ul.activity-log {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 20px; }
  ul.activity-log li {
    padding: 0px 0px 10px 0px; }

#stats p:first-child {
  background-color: #ffff99;
  padding: 10px 5px 10px 5px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.3em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/*
 * Carousel
 */
.carousel {
  margin: 0 auto; }
  .carousel .carousel-indicators li {
    border: 1px solid #000; }
    .carousel .carousel-indicators li.active {
      background-color: #000; }
  .carousel .carousel-control {
    color: #000; }
    .carousel .carousel-control.right {
      background-image: none; }
    .carousel .carousel-control.left {
      background-image: none; }

.carousel-inner .carousel-caption {
  color: #000;
  text-shadow: none; }
