.task-list-orgmode {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-left: 6px solid #000; }
  .task-list-orgmode p {
    color: blue;
    margin: 4px 0px 0px 0px; }
    .task-list-orgmode p.header {
      color: #D51722; }
  .task-list-orgmode span {
    margin-right: 2px; }
    .task-list-orgmode span.date {
      color: #A10094;
      text-decoration: underline; }
    .task-list-orgmode span.priority {
      color: #D39F9F; }
    .task-list-orgmode span.closed {
      color: #D39F9F; }
  .task-list-orgmode span.status {
    font-weight: bold; }
    .task-list-orgmode span.status.completed {
      color: green; }
    .task-list-orgmode span.status.todo {
      color: red; }
