
/*
 * Variables
 */

//$bg-color: #fbfbfb;
$bg-color: #fff;

$theme-color-dark: #1B8000;
$theme-color-light: #23A700;

/*
 * Mixins
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
       -o-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
       -o-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

/*
 * General
 */

body {
  margin: 0px;
  padding: 0px; 
  background-color: $bg-color;
  
  img {
    border: 0px;
  }
  
  .navbar {
    border: 0px;
  }
  
  .navbar-default {
    border-color: $theme-color-dark;
    background-color: $theme-color-dark;
    @include border-radius(0px);
    
    &.navbar-default {
      li {
        a {
          color: #fff;
          &:hover {
            color: #CCCBCB;
          }
        }
        &.active {
          a {
            color: #fff;
            background-color: #23A700;  
            &:hover {
              color: #fff;
              background-color: #23A700;
            }
          }
        }
      }
      .navbar-toggle {
        border: 0px;
        .icon-bar {
          background-color: #fff;
        }
        &:hover {
          background-color: #000;
        };
      }
      .navbar-collapse {
        border-color: inherit;
      }
    }

    .navbar-brand {
      color: #fff;
    }
  }
  
  #contents {
    margin: 20px;
  }
  
  .jumbotron {
    padding: 20px;
    color: #000;
    background-color: inherit;
    @include border-radius(2px);
  }
  
  @media screen and (max-width: 768px) {
    
//    .row {
//      padding-right: 0px;
//    }
    
//    #contents { 
//      margin: 0px;
//    }
    
  }

  input[type="text"]:not(.form-control), 
  input[type="password"]:not(.form-control) { 
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #a0a0a0;
    width: 300px;
  }  
  
  #footer {
    margin: 0px auto;
    padding: 20px 0px;
    clear: both; 
    
    p {
      text-align: center;
    }
  }
}

.alert {
  padding: 5px;
  border: 2px solid transparent;
}

.alert-dismissable {
  padding-right: 35px;
}

/*
 * Labels
 */

.rounded {
  
}

ul.labels {
  list-style: none; 
  padding: 0px;
  
  li {
    display: block;
    margin: 4px 0px 2px 0px;
    padding: 2px 26px 2px 4px;
    border: 0px solid #f0f0f0;
    @include border-radius(4px);

    a,
    a:link,
    a:visited {
      color: #000;
      padding: 4px;
      margin: 4px;
      display: block;
      line-height: 100%;
      text-decoration: none;
    }
    
    &.label-standard {
      color: #000;
      background-color: #99cc00;
    }
    
    &.title {
      border: 0px;
      font-weight: bold;
      padding: inherit;
      padding-left: 2px;
      padding-bottom: 8px;
      margin-top: 10px;
      font-style: italic;
    }
    
    &.separator {
      border: 0px; 
      border-top: 1px solid #000; 
      margin-top: 10px;
      margin-bottom: -20px;
      border-radius: 0px;
    }
    
    &.hidden {
      display: none;
    }
    
    &.controls {
      border: 0px;
      padding: 5px 0px 0px 0px;
    }
    
    &.label-selected {
      background-color: #000;
      a {
        color: #fff;
      }
    }
    
    &.label-task-assignment {
//      border: 1px solid #808080;
    }
  }
  
}

#colorpicker {
  display: inline;
  clear: both;
}

.label-colorpicker {
  background-color: transparent;
  border: 1px solid #f0f0f0;
}

/* 
 * Tasks
 */

tr.task-row {

  a, 
  a:link, 
  a:visited {
    color: #000;
    text-decoration: none;
  }
  
  &.task-selected {
    a {
      color: #000;
    }
    background-color: #c0c0c0;
  }
  
  &.priority-high {
    td.status {
      background-image: url('/static/icons/priority.png');
      background-repeat: no-repeat;
      background-position: left center;
    }
  }
  
  ul.label-crumbs {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 0.7em;

    padding: 1px 2px 1px 2px;
    /* height: 2.3em; */
    float: right;
  }

  ul.label-crumbs {
    li {
      float: left;
      color: #777;
      padding: 0px 5px 0px 2px;
      margin: 0px 2px 0px 2px;
      border-top: 0px solid #dedede;
      background-color: #f0f0f0; 
    }
  }  
  
}
