{% extends "base.html" %}

{% block contents %}

<h1>About</h1>

<p>
  This is a simple Web application for managing tasks built by <a href="http://metajungle.net">Jakob Henriksson</a>.
</p>

<p>
  The <a href="https://github.com/metajungle/jungletasks">source code can be found on GitHub</a>.
</p>

<h1>Frequently Asked Questions*</h1>

<h3>What's the point of this site?</h3>

<p>
  The site provides a very simple way of keeping track of tasks.
</p>

<h3>Seriously, what's the point?</h3>

<p>
  Ah, you mean, what's the <em>point</em>? In the sense that there are probably a thousand other web applications or desktop applications that do a better job?
</p>

<p>
  Well, in that case there is no point. You should use whatever system
  you find useful for your purposes. If the best way for you keep
  track of what you <em>need to get done</em> is to keep a simple text
  file on your computer with your tasks, you should probably do
  that. If you already have an application that you are happy with
  that helps you <em>get things done</em>, you should probably stick
  with that.
</p>

<h3>What is a good workflow for managing tasks?</h3>

<p>Whatever works for you.</p>

<p>
  Personally I like to organize everything
  around <em>labels</em>. Labels are just bins
  that you can put your tasks in. I typically have a general label for
  each project, let's call one such label <em>Project</em>. I put
  everything that has to do that particular project there. Then I keep
  other labels, e.g. <em>Issues</em> (or <em>Bugs</em>), <em>Todo
  Next</em>, <em>RC</em> (for release candidate), <em>Showstoppers</em>. I
  then organize all my tasks around these labels. I can move tasks
  around as I see fit. But everything is organized around these
  labels, but most importantly, their <em>names</em> is what keeps
  things moving forward. 
</p>

<h3>Isn't this site too simple?</h3>

<p>
  You mean it lacks a lot of features that are available in most
  other <a href="http://en.wikipedia.org/wiki/Issue_tracking_system">issue
  trackers</a>? Yes, it is true. However, I have found many issue
  trackers just overly complex. I don't need most of that stuff. 
</p>

<h3>What are some things I should be aware of when using the site?</h3>

<p>
  Labels are first-class entities and not simply text strings that are
  associated with tasks. This means that if you delete a label, that
  label is gone. Yes, from all the tasks that previously had that
  label. Same thing if you rename a label, that old name is gone. 
</p>

<p>
  Does it have to be this way? No, but that's the way it has been
  implemented. The tasks you have completed is of some interests once
  you have completed them. That's why completed tasks are still viewable. 
  They are also included if you export
  tasks. However, the labels are not stored in this way. They are just
  meant to help you organize your current tasks so that you know what
  needs to get done. They are your current window into your tasks. As
  you move forward that window will change (you will
  create/delete/rename labels). You old 'view' will not be saved. How
  you viewed things before is of less interest now. Your current label
  setup should be optimized to move things forward and get things
  done, <em>now</em>.
</p>

<h3>How do I mark a task as completed?</h3>

<p>
  You simply click on the task text. One click marks it as completed,
  another click returns it to being not completed.
</p>

<h3>How do I delete a task?</h3>

<p>
  You edit the task and delete the task from there.
</p>

<h3>How do I mark a task as high priority?</h3>

<p>
  You edit the task and select the priority level from there. 
</p>

<h3>Can I export my tasks so I can use them in other systems?</h3>

<p>
  Yes. In any view that has a task you can click 'export' from the main menu. 
  You will see a preview of a few tasks that shows how
  the exported tasks will be formatted. The actual export will contain
  all tasks in the view you were in when you clicked 'export'. If you
  want to export all tasks, click the "All" label first and then
  'export' in the top-right corner. After previewing you can then export
  your tasks. A file will be saved to your local disk with all the tasks. 
</p>

<p>
  The format of the export
  is <a href="http://orgmode.org">Org-Mode</a>. It's basically a text
  file so you can do whatever you want with it.
</p>

<h3>How can I reset my password?</h3>

<p>
  You can <a href="{% url 'url_password_reset' %}">reset your password here</a>.
</p>

<h3>Will you support other features in the future?</h3>

<p>
Maybe. It depends on whether I find more features useful to what I
want to use the site for. If someone has a good idea and I find that
useful I might do it. 
</p>

<h3>How can I contact you?</h3>

<p>
  I'm on <a href="http://twitter.com">Twitter</a> as <a href="http://twitter.com/metajungle">@metajungle</a>
</p>

<p style="font-size: 0.8em; margin-top: 20px;">
  *No-one has actually asked these questions, so they are not
  frequently asked, but may still be helpful.
</p>

{% endblock %}
