{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf-8">
<!--
$(function() {
    
    /* focus on creating tasks input */ 
    $("#inputTask").focus();

    // register action for entering task labeling mode 
    $(".task-labels-assign").click(function(e) {
        var task = $(this).data('id');
        var labels = $("#task-row-" + task).data('labels');
        // hide labels
        $('.task-label').hide();
        // set and show task assign labels 
        $('.label-task-assignment').each(function(idx, value) {
            var label = $(this).data('id');
            // assign css class according to selection
            if (labels.indexOf(label) != -1) {
                $(this).addClass('label-selected');
            } else {
                $(this).removeClass('label-selected');
            }
            // assign task id (used when setting variable)
            $(this).data('task', task);
        }).removeClass('hidden');
        // show controls
        $('.controls').removeClass('hidden');
        // de-highlight all tasks 
        $(".task-row").removeClass('task-selected');        
        // highlight the seleced task 
        $("#task-row-" + task).addClass('task-selected');
        
        return false;
    });
    
    // register action for assigning or removing a label to a task 
    $(".label-task-assignment").click(function(e) {
       var label = $(this).data('id');
       var task = $(this).data('task');
       
       // true if we are assigning this label, false otherwise 
       var assign = !$(this).hasClass('label-selected');
       // update selection 
       $(this).toggleClass('label-selected');

       // update DOM: update label IDs for each task
       var row = $("#task-row-" + task);
       var labels = row.data('labels');
       if (typeof labels == 'string' && labels == '') {
           labels = [];
       }
       if (assign) {
           // only add if it wasn't there
           if (labels.indexOf(label) == -1) {
               labels.push(label);    
           }
       } else {
           var idx = labels.indexOf(label);
           if (idx != -1) {
               labels.splice(idx, 1);
           }
       }
       row.data('labels', labels);
       
       // TODO: update label badges 
       
       // TODO: update task counts for each label 
       
       // update DB 
       $.post("{% url 'url_task_assign_json' %}", {
               'label': label, 
               'task': task, 
               'action': assign ? 'add' : 'remove'
           },
           function(data, status) {
               if (status == 'success' && data != 'OK') {
                   // TODO: show error message 
               }
           }
       );

       return false;
    });
    
    // register action for closing task label assignment 
    $('#btn-label-assign-done').click(function() {
        // show labels
        $('.task-label').show();
        // hide task assign labels
        $('.label-task-assignment').
            addClass('hidden').
            removeClass('label-selected');
        // hide controls
        $('.controls').addClass('hidden');
        // de-highlight all tasks 
        $(".task-row").removeClass('task-selected');        
    });
    
    // register action for clicking on a task to mark it complete 
    $(".task-text").click(function(e) {
      var id = $(this).data('id');
      var row = $("#task-row-" + id);
      var done = !row.hasClass('task-done');
      row.toggleClass('task-done');
      // update DB 
      $.post("{% url 'url_tasks_mark_done' %}", {
              'task': id, 
              'action': done ? 'done' : 'undone'
          },
          function(data, status) {
              if (status == 'success' && data != 'OK') {
                  // TODO: show error message 
              }
          }
      );
      return false;
    });
    
    // $("input.due-date-holder").each(function() {
    //     $(this).datepicker(
    //     {
    //       minDate: new Date(),
    //       autoSize: true,
    //       showAnim: 'blind'
    //     });
    //     /* get id */
    //     var data = $(this).metadata();
    //     /* request to save due date on change */
    //     if (data && data.task_id) {
    //         $(this).change(function() {
    //             api_task_save_due_date(data.task_id);
    //         });
    //     }
    // });

});
-->
</script>
{% endblock script %}


{% block action-controls %}
{% if tasks.object_list %}
<li><a href="{% url 'url_export' %}?label={{ active_label|lower }}" id="btn_export">export</a></li>
{% endif %}
{% endblock action-controls %}

{% block contents %}

<form role="form" action="{% url 'url_tasks_add' %}" method="POST">{% csrf_token %}
<div class="row">
  <div class="col-sm-9">
      <label class="sr-only" for="inputTask">Label</label>
      <input type="text" class="form-control" id="inputTask" name="task" placeholder="New task">
  </div>
  <div class="col-sm-3">
    <button type="submit" class="btn btn-default form-control">&plus; add task</button>
  </div>
</div>
</form>

<p></p>

<div class="row">
  <div class="col-sm-9">
        
    {% if tasks.object_list %}
    <table class="table table-tasks">
      <thead>
      <tr>
        <th class="narrow">&nbsp;</th>
        <th>Tasks</th>
        <th class="narrow">&nbsp;</th>
        <th class="narrow hidden-xs">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% for task in tasks.object_list %}
      <tr id="task-row-{{ task.id }}"
          class="task-row {% if task.is_completed %}task-done{% else %}task-not-done{% endif %}"
          data-labels="{{ task.label_ids }}">
        {# Priority column #}
        <td>
            {% if task.important %}<span class="glyphicon glyphicon-arrow-up"></span>{% endif %}
        </td>
        <td>
          <a href="#" class="task-text" data-id="{{ task.id }}">{{ task.task }}</a>

          {# show task labels #}
          <ul class="label-crumbs hidden-xs">
            {% for label in task.labels.all %}
            {% if not label.is_hidden %}
            <li style="background-color: {{ label.color }}">
              <span class="label-small" title="{{ label.name }}">{{ label.name|truncatechars:12 }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td>
            <a href="{% url 'url_tasks_edit' task.id %}" title="Edit task" 
               class="task_edit"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
    {# <td class="task_due_date"> #}
{# <input type="text" class="due-date-holder hand" #}
   {#    data-task_id="'{{ task.id }}'" #}
     {#  value="{% if task.due %}{{ task.due|date:"SHORT_DATE_FORMAT" }}{% else %}&mdash;{% endif %}" /> #}
    {# </td> #}
        <td class="hidden-xs">
          <a href="#" title="Assign labels to task" class="task-labels-assign" data-id="{{ task.id }}"><span class="glyphicon glyphicon-tags"></span></a>
        </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
        
    {# PAGINATION #}
    {% if tasks.paginator.num_pages > 1 %}
    <ul class="pagination pagination-sm">
      {% if tasks.has_previous %}
      <li><a href="?{{ get_values }}page={{ tasks.previous_page_number }}">Previous</a></li>
      {% else %}
      <li class="disabled"><span>Previous</span></li>
      {% endif %}
      <li class="active"><span>{{ tasks.number }} of {{ tasks.paginator.num_pages }} <span class="sr-only">(current)</span></span></li>
      {% if tasks.has_next %}
      <li><a href="?{{ get_values }}page={{ tasks.next_page_number }}">Next</a></li>
      {% else %}
      <li class="disabled"><span>Next</span></li>
      {% endif %}
    </ul>
    {% endif %}
    {% else %}
      <p><strong>There are no tasks here.</strong></p>
      <p><em>Try creating or completing a task first.</em></p>
    {% endif %}
        
    </div>
    <div class="col-sm-3">
      <ul class="labels hidden-xs">
  
        {% load tasks_tags %}
  
        {# standard labels #}
        <li class="label-standard"
            style="background-color: #99cc00; border-left: 10px solid {% adjust_color '99cc00' %};">
            {% url 'url_tasks_inbox' as url_tasks_inbox %}
            <a href="{{ url_tasks_inbox }}" class="{% active_exact request url_tasks_inbox %}">Inbox&nbsp;({{ num_tasks_not_done }})</a>
        </li>
        <li class="label-standard"
            style="background-color: #99cc00; border-left: 10px solid {% adjust_color '99cc00' %};">
            {% url 'url_tasks_completed' as url_tasks_completed %}
            <a href="{{ url_tasks_completed }}" class="{% active_exact request url_tasks_completed %}">Completed</a>
        </li>
        {# <li class="separator">&nbsp;</li> #}
  
        {# user-defined labels #}
        <li class="title">Your labels</li>
        {% for label in labels %}
            {# for selecting labels #}
            <li class="task-label" 
                style="background-color: {{ label.color }}; border-left: 10px solid {% adjust_color label.color %};">
                {% url 'url_tasks_label' label.id as url_label %}
                <a href="{{ url_label }}" class="{% active_exact request url_label %}">{{ label.name }}&nbsp;({{ label.num_not_done_tasks }})</a>
            </li>
            
            {# for assigning labels to tasks #}
            <li class="label-task-assignment hidden" data-id="{{ label.id }}" data-color="{{ label.color }}">
                <a href="#">{{ label.name }}</a>
            </li>
        {% empty %}
        <li class="empty"><em>No labels here</em></li>
        {% endfor %}
        
        {# save button for labeling #}
        <li class="controls hidden">
          <button id="btn-label-assign-done" 
                  class="btn btn-success form-control">Done</button>
        </li>
        
        {% if user.get_profile and user.get_profile.system_labels.all %}
        <li class="separator system-label-part">&nbsp;</li>
        <li class="title system-label-part">System labels</li>
        {% block systemlabels %}
        {% for label in user.get_profile.system_labels.all %}
        <li class="systemlabel system-label-part">
          <a href="?l=s:{{ label.label }}">{{ label.get_label_display }}</a>
        </li>
        {% endfor %}
        {% endblock %}
        {% endif %}
  
      </ul>        
    </div>
  </div>
</div>

{% endblock %}

