{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
<!--
$(function() {
  $("#id_email").focus();
});
-->
</script>
{% endblock script %}

{% block contents %}

  <h1>Reset password</h1>

  <p>Please provide your the email address associated with your account.</p>

  <form action="" method="POST" role="form">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }} 
      {% if field.errors %}
      <ul class="list-unstyled">
        {% for error in field.errors %}
          <li>
          <span class="label label-danger">Error</span>
          <span class="text-danger">{{ error }}</span>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-default" value="Reset password" />
  </form>

{% endblock %}
