{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
<!--
$(function() {
  $("#id_password1").focus();
});
-->
</script>
{% endblock script %}

{% block contents %}

  <h1>Change password</h1>

  <p>Please provide and confirm the new password:</p>

  <form action="" method="post" role="form">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }} 
      {% if field.help_text %}
      <p class="help-block"><em>{{ field.help_text }}</em></p>
      {% endif %}
      {% if field.errors %}
      <ul class="list-unstyled">
        {% for error in field.errors %}
          <li>
          <span class="label label-danger">Error</span>
          <span class="text-danger">{{ error }}</span>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
    
    <input type="submit" value="Change password" class="btn btn-default" />

  </form>

{% endblock %}
